
<img src="https://i.postimg.cc/xdm3qnyD/Picture1.png" scale="0" width="10%">
<div class="topnav">
    <a href="/product">Store</a>
    <a href="/profile" class="topnav" *ngIf="isLoggedIn || showUser || showAdmin" id="profile">Profile</a>
    <a href="/admin" class="nav-link" *ngIf="showAdmin">Manage Store</a>
    <div class="topnav-right">
        <a href="/login" class="topnav-right" id="profile" *ngIf="!isLoggedIn">Hello, {{first_name || "sign in"}}</a>
        <!-- <a href class="topnav-right" id="profile" *ngIf="isLoggedIn" onclick="return false">Hello, {{first_name}}</a> -->
        <a href class="topnav-right || disable" id="profile" *ngIf="isLoggedIn" >Hello, {{first_name}}</a>
        <a href class="topnav" *ngIf="isLoggedIn" (click)="logout()">Logout</a>
        <a href="/checkout" class="topnav" id="cart" class="btn btn-danger btn-lg" id="cart" style="color: white;">
            <span><i class="fa fa-shopping-cart" style="font-size:24px" id="cart"></i></span>
        </a>
    </div>

</div>
