<!-- <img src="https://i.postimg.cc/xdm3qnyD/Picture1.png" scale="0" width="10%">
<div class="topnav" id="myTopnav">
    <a href="/product" class="nav-link" routerLink="product">Store</a>
    <a href="/register" class="nav-link" routerLink="register">Register</a>
    <a href="/login" class="nav-link" routerLink="login">Login</a>
    <a href="/profile" class="nav-link" routerLink="profile">Profile</a>
    <a href class="nav-link" (click)="logout()">Logout</a>

    <a href="#" class="btn btn-danger btn-lg" id="cart" style="color: white;">
        <span class="glyphicon glyphicon-shopping-cart"></span> Cart
    </a>

    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
    </a>
    <a>
        <form action="#" method="" id="search_form">
            <div class="sb-example-1">
                <div class="search">
                    <input type="text" class="searchTerm" size="100" maxlength="150" name="search_text"
                        placeholder="What are you looking for?" id="search_text" style="color: black;" />
                    <button type="submit" class="searchButton"><i class="fa fa-search"
                            style="color: white;"></i></button>
                </div>
            </div>
        </form>
    </a>
</div> -->

<img src="https://i.postimg.cc/xdm3qnyD/Picture1.png" scale="0" width="10%">
<div class="topnav">
    <a href="/product">Store</a>
    <a href="/profile" class="topnav" *ngIf="isLoggedIn || showAdmin" id="profile">Profile</a>
    <a href="/admin" class="nav-link" *ngIf="showAdmin">Manage Store</a>
    <div class="topnav-right">
        <a href="/login" class="topnav-right" id="profile">Hello, {{first_name || "sign in"}}</a>
        <a class="topnav" href="/logout" *ngIf="isLoggedIn" (click)="logout()">Logout</a>
        <a href="/checkout" class="topnav" id="cart" class="btn btn-danger btn-lg" id="cart" style="color: white;">
            <span><i class="fa fa-shopping-cart" style="font-size:24px" id="cart"></i></span>
        </a>
    </div>

    <div class="search-container">
        <form action="#" method="" id="search_form">
            <div class="sb-example-1">
                <div class="search">
                    <input type="text" class="searchTerm" size="100" maxlength="150" name="search_text"
                        placeholder="What are you looking for?" id="search_text" style="color: black;" />
                    <button type="submit" class="searchButton"><i class="fa fa-search"
                        style="color: white;"></i></button>
                </div>
            </div>
        </form>
    </div>
</div>