<!-- The sidebar -->
<div class="sidebar">
  <!-- <a class="active" href="products">Products</a> -->
  <a href="Phones">Phones</a>
  <a href="Laptops">Laptops</a>
  <a href="Gaming Consoles">Gaming Consoles</a>
</div>

<!-- Page content -->
<div class='container-fluid'>
  <div class="content">
    <div class="card-deck">
      <div class="wrapper">
        <div class="card" *ngFor="let row of allProducts">
          <img id="image-size" class="card-img-top" src="{{row.imageUrl}}" width="auto" height="auto" />
          <div class="card-body">
            <p class="card-text"></p>
          </div>
          <div class="card-footer">
            <h5 class="card-title font-weight-bold" class="parLength"> {{row.productName}}</h5>
            <p class="card-text">{{row.productCost | currency}}</p>
            <p class="card-text" class="parLength">{{row.productDescription}}</p>
            <p><button class="btn btn-danger" (click)="goToProduct(row.productId)">View Details</button></p>

            <small class="text-muted">{{row.productSku}}</small>
          </div>
        </div>
      </div>
      &nbsp;
      <div class="wrapper">
        <div class="card" *ngFor="let row of allDiscountProducts">
          <img id="image-size" class="card-img-top" src="{{row.imageUrl}}" width="auto" height="auto" />
          <div class="card-body">
            <p class="card-text"></p>
          </div>
          <div class="card-footer">
            <h5 class="card-title font-weight-bold" class="parLength"> {{row.productName}}</h5>
            <p class="card-text">{{row.productCost-row.productCost*row.discountPercentage | currency }}
              <s>{{row.productCost |
                currency}}</s>
            </p>
            <p class="card-text" class="parLength">{{row.productDescription}}</p>
            <p><button class="btn btn-danger" (click)="goToProduct(row.productId)">View Details</button></p>
            <small class="text-muted">{{row.productSku}}</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
